SHOW_TERMINAL=false
MAIN_PAGE=ui/pages/slice-amas.html
TITLE=Slice AMAS
AUTHOR=dummtoby
ICON=icon.ico
VERSION=0.31
SPLASH_SCREEN=false
TITLEBAR_COLOR=transparent
CAN_CLOSE=true
CAN_MINIMIZE=true
CAN_MAXIMIZE=true
TITLEBAR=false
DRAG_BACKGROUND=true
WINDOW_WIDTH=1280
WINDOW_HEIGHT=800
CORNER_RADIUS=9
DEVTOOLS=true
DEFAULT_CONTEXTUAL_MENU=false
FULLSCREEN=false
